body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(81, 84, 34);
  color: aliceblue;
  text-align: center;
}

button{
  width: 70px;
  height: 40px;
  margin-right: 10px;
}
.counter{
  height: 200px;
  width: 300px;
  text-align: center;
}

button{
  background-color: rgb(43, 255, 0);
}