.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}

.option {
  display: flex;
  gap: 15px;
}

.option button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.option button:hover {
  color: #ff3f6c;
}

.heading input {
  width: 250px;
  padding: 6px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

.profile-section {
  display: flex;
  gap: 10px;
}

.profile-section button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.profile-section button:hover {
  color: #ff3f6c;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  color: #333;
  margin: 8px 0;
}

.card h1 {
  font-size: 16px;
  color: #ff3f6c;
  margin: 5px 0;
}

.card h2:last-child {
  color: #007bff;
  font-size: 16px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.03);
}


/* footer */

.footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
}

.footer img {
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
}


