body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;

}

h1 {
  color: #333;
  font-size: 1.4rem;
}

div {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  display: inline-block;
  /* border-radius: 10px; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

label {
  display: block;
  margin: 8px 0;
  color: #555;
  font-size: 1rem;
}

input[type="checkbox"] {
  margin-right: 6px;
  cursor: pointer;
}
